<!doctype html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="spectrum.css">
    <script type="text/javascript" src="jquery-1.9.1.js"></script>
    <script type="text/javascript" src="spectrum.js"></script>
    <script type='text/javascript' src='docs.js'></script>
</head>
<body>

<div id='docs'>
    <div id='docs-content'>

        <div class='example'>
            <input type='text' id='custom' />
        </div>

        </div>
    </div>



</body>
</html>
